<% if employee_signed_in? %>
  <p>Welcome <%= current_employee.email %></p>
  <%= link_to 'Logged In [click to logout]', destroy_employee_session_path, :method => :delete %>
<% else %>
  <p>You are not signed in.</p>
  <%= link_to 'Login', new_employee_session_path %>
<% end %>